@charset "utf-8";
/***************
ライティング設定
***************/
.writing_contents {
	margin: 0 0 50px;
}
.writing_contents p {
	margin: 20px 0px 10px 0px;
}
.writing_contents form {

}
.writing_contents select {
		background-color: #FCF2EB;
		padding: 2px;
    border: 1px solid #C4A989;
    border-radius: 5px 5px 5px 5px;
    color: #393939;
}
.writing_contents select option {
}
.writing_contents input {
		background-color: #FCF2EB;
		padding: 5px;
    border: 1px solid #C4A989;
    border-radius: 5px 5px 5px 5px;
    color: #393939;
}
.writing_contents input[type="text"] {
	width: 500px;
	font-size: 20px;
}
.writing_contents input[type="submit"] {
	display: block;
	margin: 10px 0;
	cursor: pointer;
}
.writing_contents input[type="file"] {

}
.writing_contents textarea {
		background-color: #FCF2EB;
    border: 1px solid #C4A989;
    border-radius: 5px 5px 5px 5px;
    font-size: 15px;
    height: 500px;
    padding: 5px 0 5px 5px;
    width: 687px;
    color: #393939;
}

